<h1>Edit Task</h1>
<h4 class="text-muted">Leave "Assignee" Blank to keep the same</h4>

<%= render "form.html", Map.put(assigns, :action, Routes.todo_item_path(@conn, :update, @todo_item)) %>

<span><%= link "Back", to: Routes.todo_item_path(@conn, :index), class: "btn btn-secondary" %></span>
